<html>
<head>
    <meta charset="UTF-8">
    <title>Selectors Exercise</title>
    <link href="styl.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div id="header" class="container-fluid">
  <div id="menu" class="col-3 list-group show-menu">
    <% for(var i = 0 ; i < category.length ; ++i){%>
      <a href="#" class="list-group-item list-group-item-action text-center"><%=category[i].dataValues.name%></a>
   <% } %>
</div>
    <nav class="col-12 d-flex">
      <div class="container-fluid d-flex flex-row mr-auto">
          <button id="my-menu-button" class = "btn btn-md"><i class="material-icons">menu</i></button>
        </div>
      <div class="container-fluid d-flex flex-row-reverse ml-auto">
        <input type="text" placeholder="search" class="col-6 form-control">
        <button class = "btn btn-md"><i class="material-icons">search</i></button>
        <button class = "btn btn-md"><i class="material-icons">shopping_cart</i></button>
        <%if (user && user.isAdmin){%>

<button class = "btn btn-md"><i class="material-icons">add_circle_outline</i></button>
        <%} %>
        
      </div>
        
        
    </nav>
    <div class="d-flex justify-content-center">
        <img src="KLetter.png">

    </div>
    <div class="d-flex justify-content-center">
      <%if(!user){%>
<button id="login" class="btn btn-lg" data-toggle="modal" data-target="#exampleModalCenter">login</button>
      <%} else {%>
        <label> <%=user.name%></label>
        <% } %>
    </div>
    <form action="/" method="POST">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- فوق بعض و لا جنب بعض -->
              <input type="text" name="id" placeholder="id" class="form-control">
              <input type="password" name="password" placeholder="password" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</form>
</div>

<% for(var i = 0 ; i < wholeItem.length ; ++i){%>
<div  style="display: inline-block;padding: 15px;">
  <img class="items-img" src=<%=wholeItem[i].dataValues.url%>>
  <div class="d-flex justify-content-between">
    <label class = items_name><%=wholeItem[i].dataValues.name%></label>
  <button class = "btn btn-md" value="<%=wholeItem[i].dataValues.url%>"><i class="material-icons">add_circle_outline</i></button>
  </div>
</div>
<% } %>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>